body {
  background-image: url(https://cdn.glitch.com/5a3a7353-52c4-498b-89df-1edc30f01b68%2F343544f9ca46436aa0050aa9098ae48f.jpeg?v=1574672919968);
  background-size: cover;
  font-family: "Noto Sans HK", sans-serif;
}

.header {
  background-color: black;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  float: left;
}

.logo img {
  float: left;
  width: 32%;
}

.logo a {
  float: left;
  font: bold 2em "Pacifico", cursive;
  color: pink;
  text-decoration: none;
}

.Option {
  float: right;
}

.Option1 a {
  color: pink;
  text-decoration: none;
  margin: 3px;
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
}

.Option1 li {
  float: right;
}

.magnifier {
  position: relative;
  bottom: 20px;
}

.magnifier img {
  width: 3%;
  background-color: white;
  border-radius: 5px;
  position: relative;
  left: 87%;
  top: 5px;
}

.magnifier input {
  border-radius: 5px;
  position: relative;
  left: 58%;
}

.container {
  margin-top: 150px;
}

.container-left {
  clear: left;
}

.container-left img {
  width: 90%;
  position: relative;
  left: 30px;
  bottom: 20px;
}

.container-right {
  writing-mode: vertical-rl; /*文字橫式變直式*/
  font-size: 30px;
  border: black dashed 5px;
  border-radius: 5px;
  padding: 1%;
  position: relative;
  right: 30px;
}

.container-right img {
  width: 20px;
  margin-top: 1%;
}
